@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.custom-container {
    width: 73.125rem;
    margin: 0 auto;
}

.h1-color {
    color: #12132D;
}

.p-color {
    color: #12132D99;
}

.bg-footer {
    background: linear-gradient(180deg, rgba(18, 19, 45, 0.05) 0%, rgba(18, 19, 45, 0.00) 100%);
}

.section-title {
    color: #12132D;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 24px;
}

.section-subtitle {
    color: rgba(18, 19, 45, 0.60);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 43.188rem;
    margin: 0 auto;
    /* 166.667% */
}

.active-status {
    position: absolute;
    top: -8%;
    right: -8%;
    width: 18.667px;
    height: 18.667px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid #FFF;
    background: #10B981;
}

.inactive-status {
    position: absolute;
    top: -8%;
    right: -8%;
    width: 18.667px;
    height: 18.667px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid #FFF;
    background: #FF3434;
}